body {
  margin: 30px;
}
table {
  width: 700px;
  text-align: center;
}
caption {
  caption-side: bottom;
  padding-top: 10px;
  font-style: italic;
  max-width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-style: normal;
  font-size: 20px;
  max-width: 700px;
}
